/* color 1 : #6c757d
color 2 hover : #5a6268 
body color 1 : #f0ffff*/

.btn:hover{
  background-color: #5a6268;
  border-color: #5a6268;

}
.App {
  font-family: cursive;
}
.container{
  margin-top: 66px;
  padding: 20px;
}
.App-Header{
  min-height: 66px;
  background-color:  #6c757d;
  position: fixed;
  top:0;
  width: 100%;
}
.login-heading{
  text-align: center;
  margin-bottom: 20px;
}
.navigation{
  float: right;
  background-color: #6c757d;
}
.navigation-right{
  display: inline-block;
  padding: 14px 16px;
  border-radius: 5px;
}
.navigation-right:hover{
  background-color: #5a6268;
}
.navigation a{
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 27px;
}
/* .nav{
  background-color: burlywood;
} */
.btnlogout{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  cursor: pointer;
}
.form{
  max-width: 500px;
  margin:auto;
  padding:20px;
}
.site-name{
  font-size: 30px;
  clear: right;
  margin: 10px 0px 0px 10px;
  float: left;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.site-name:hover{
  text-decoration: none;
  color: white
}
.App-Container{
  background-color: azure;
  clear: both;
  overflow: hidden;
  padding-top:75px;
}
.App-footer{
  background-color:  #6c757d;
  height: 65px;
  clear: both;
}
.footer-data{
  text-align: center;
  color: white;
  padding-top:10px
}
.persons{
  text-align: left;
  clear: both;
}
.personNumber{
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  display: block;
  cursor: pointer;
  background: cornsilk;
  margin:5px;
  border-radius: 5px;
}
.cardView{
  max-width: 90%;
  margin: auto;
  padding: 10px 5px;
  background-color: rgba(255, 248, 248, 0.952);
  border-radius: 10px;
  margin-top: 10px;

}
.submitbtn{
  background-color:  #6c757d;
  margin: 20px 0 0 0;
  color: white;
  border-color:  #6c757d;
  width: 50%
}
.handlebtn{
  float: right;
  margin: 0 10px 10px 10px;
  background-color:  #6c757d;
  border-color:  #6c757d;
  color: white
}
.clear{
  clear: both;
}
.homepage{
  text-align: center;
}
.signup{
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
.logo{
  width: 50px;
}
.link{
  text-align: center;
  margin:10px;
}
.link a{
  text-decoration: underline;
  color: black;
}
.collapsemenu{
  display: block;
  margin: 10px 10px;
}
@media screen and (min-width: 680px) {
  .collapsemenu{
    display: none
  }
}
@media screen and (max-width: 680px){
  .collapsenavigation{
    display: none;
  }
}
a{
  text-decoration: none;
  color: black
}
a:hover{
  text-decoration: none;
}